body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-group {
  margin-bottom: 1rem;
}

.ml-5{
  margin-left: 3 rem !important;
}

input[readonly]{
  background-color:transparent;
  border: 0;
  font-size: 1em;
}

.side-navigation a{
  font-size: 14px;
  color: #212529;
}

.side-navigation a:hover{
  background: #e6e6e6;
}

.horizontal-line{
  background: #d9d9d9;
  padding-top: 1.5px;
  padding-bottom: 1px;
}

.search-tb-font td, .search-tb-font th{
  font-size: 13px;
}

.s-add-item{
  cursor: pointer;
}

.sm-tb-font td, .sm-tb-font th{
  font-size: 14px;
}

.dash-summary-cell{
  border: 1px solid #e6e6e6;
  padding: 8px 10px;
  background: #e6e6e6;
}